[Desktop Entry]
ServiceTypes=allfiles
Actions=encrypt

[Desktop Action encrypt]
Name=Encrypt File
Name[es]=Cifrar archivo
Name[fr]=Crypter un fichier
Name[ja]=ファイルの符号化
Name[pt]=Cifrar o Ficheiro
Name[pt_BR]=Criptografar arquivo
Name[ru]=Зашифровать файл
Name[sv]=Kryptera fil
Name[xh]=Faka ufihlo Kwifayile
Name[zh_TW]=加密檔案
Name[zu]=Ifayela Lokubhalwe ngokungaqondakali

Exec=kgpg -e %u

