[Desktop Entry]
ServiceTypes=inode/directory
Actions=encrypt

[Desktop Action encrypt]
Name=Archive & Encrypt Folder
Name[x-test]=xxArchive & Encrypt Folderxx
Icon=kgpg
Exec=kgpg -e %F
