[Desktop Entry]
Type=Service
# all files inherit from application/octet-stream
MimeType=application/octet-stream;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Actions=encrypt;

[Desktop Action encrypt]
Name=Encrypt File
Icon=kgpg
Exec=kgpg -e %F

