[Desktop Entry]
ServiceTypes=inode/directory
Actions=encrypt

[Desktop Action encrypt]
Name=Archive & Encrypt Folder
Name[ar]=أرشفة و تشفير مجلّد
Name[bg]=Архивиране и шифроване на директория
Name[bs]=Arhiviraj i šifriraj direktorij
Name[ca]=Arxiva i xifra la carpeta
Name[cs]=Archivovat a zašifrovat složku
Name[da]=Arkivér & kryptér mappe
Name[de]=Ordner packen und verschlüsseln
Name[el]=Αρχειοθέτηση & κρυπτογράφηση φακέλου
Name[eo]=Arkivigi kaj ĉifri dosierujon
Name[es]=Archivar y cifrar carpeta
Name[et]=Arhiveeri ja krüpti kataloog
Name[eu]=Artxibatu eta enkriptatu karpeta
Name[fa]=بایگانی و رمزبندی پوشه
Name[fi]=Pakkaa ja salaa kansio
Name[fr]=Archiver puis chiffrer le dossier
Name[ga]=Cuir Fillteán i gCartlann & Criptigh É
Name[he]=כלי להצפנה וכיווץ תקייה
Name[hu]=Könyvtár titkosítása és archiválása
Name[is]=Pakka og dulrita möppu
Name[it]=Archivia e cifra cartella
Name[ja]=フォルダをアーカイブ化 & 暗号化
Name[ka]=არქივი და დაშიფრვის საქაღალდე
Name[kk]=Қапшықты архивтеп шифрлау
Name[km]=ថត​ប័ណ្ណសារ & អ៊ិនគ្រីប
Name[lt]=Archyvuoti ir šifruoti aplanką
Name[nb]=Arkiver og krypter mappe
Name[nds]=Ornern komprimeren un verslöteln
Name[ne]=फोल्डरलाई सङ्ग्रह र गुप्तीकरण गर्नुहोस्
Name[nl]=Map archiveren en versleutelen
Name[nn]=Arkiver og krypter mappe
Name[pa]=ਆਕੀਵੀ & ਇੰਕਰਿਪਟ ਫੋਲਡਰ
Name[pl]=Zarchiwizuj i zaszyfruj katalog
Name[pt]=Arquivar e Cifrar a Pasta
Name[pt_BR]=Arquivar & Criptografar Pasta
Name[ru]=Архивировать и зашифровать папку
Name[sk]=Archivovať a šifrovať priečinok
Name[sl]=Arhiviranje in ši&friranje imenika
Name[sr]=Архивирај и шифруј фасциклу
Name[sr@Latn]=Arhiviraj i šifruj fasciklu
Name[sv]=Arkivera och kryptera katalog
Name[tr]=Arşiv ve Klasör Şifrele
Name[uk]=Зробити архів теки і зашифрувати
Name[zh_CN]=存档并加密文件夹
Name[zh_TW]=壓縮並加密資料夾
Icon=kgpg
Exec=kgpg -e %F
