[Desktop Entry]
ServiceTypes=inode/directory
Actions=encrypt

[Desktop Action encrypt]
Name=Archive && Encrypt Folder
Name[ar]=أرشفة و تشفير المجلّد
Name[bg]=Архивиране и шифроване на директория
Name[bs]=Arhiviraj i šifriraj direktorij
Name[ca]=Arxiva i xifra la carpeta
Name[cs]=Archivovat a zašifrovat adresář
Name[cy]=Archifio && Cêl-ysgrifo Plygell
Name[da]=Arkivér && kryptér mappe
Name[de]=Ordner packen und verschlüsseln
Name[el]=Αρχειοθέτηση && Κρυπτογράφηση φακέλου
Name[es]=Archivar y cifrar carpeta
Name[et]=Arhiveeri ja krüpti kaust
Name[eu]=Karpetak Artxibatu eta Zifratu
Name[fi]=Pakkaa ja salaa kansio
Name[fr]=Archive puis chiffre le dossier
Name[ga]=Cuir Fillteán i gCartlann && Criptigh É
Name[hi]=अभिलेख व एनक्रिप्ट फ़ोल्डर
Name[hu]=Könyvtár titkosítása és archiválása
Name[is]=Pakka og dulrita möppu
Name[it]=Archivia e cifra cartella
Name[ja]=アーカイブ && フォルダを暗号化
Name[mk]=Архивирај и криптирај папка
Name[nb]=Arkiver && krypter mappe
Name[nl]=Map inpakken en versleutelen
Name[nn]=Arkiver og krypter mappe
Name[pl]=Zarchiwzuj i zaszyfruj katalog
Name[pt]=Arquivar e Cifrar a Pasta
Name[pt_BR]=Arquivo && Diretório criptografado
Name[ro]=Arhivează şi criptează folderul
Name[ru]=Архивировать и зашифровать каталог
Name[sk]=Archivovať a šifrovať priečinok
Name[sl]=Arhiviranje in šifriranje imenika
Name[sr]=Архивирај и шифруј директоријум
Name[sr@Latn]=Arhiviraj i šifruj direktorijum
Name[sv]=Arkivera och kryptera katalog
Name[ta]=காப்பகம் && சங்கேத அடைவு
Name[tg]=Бойгонӣ && Рамзкунонии Феҳрист
Name[tr]=Arşiv && Klasör Şifrele
Name[uk]=Зробити архів теки та зашифрувати
Name[wa]=Fé ene ecriptêye årtchive d' on ridant
Name[zh_CN]=存档并加密文件夹
Icon=kgpg
Exec=kgpg -e %F
