# KDE Config File
[Desktop Entry]
Type=Application
Exec=kgpg %U
Icon=kgpg
DocPath=kgpg/index.html
MimeType=application/pgp-encrypted;application/pgp-signature;application/pgp-keys;
GenericName=Encryption Tool
GenericName[ar]=أداة للتشفير
GenericName[bg]=Програма за шифроване
GenericName[br]=Ostilh enrinegadur
GenericName[bs]=Alat za šifrovanje
GenericName[ca]=Eina de xifrat
GenericName[cs]=Šifrovací nástroj
GenericName[cy]=Erfyn Cêl-ysgrifo
GenericName[da]=Krypteringsværktøj
GenericName[de]=Verschlüsselungsprogramm
GenericName[el]=Εργαλείο κρυπτογράφησης
GenericName[eo]=Ilo por Ĉifrado
GenericName[es]=Herramienta de cifrado
GenericName[et]=Krüptimisvahend
GenericName[eu]=Zifraketa Tresna
GenericName[fa]=میلۀ رمزبندی
GenericName[fi]=Salaustyökalu
GenericName[fr]=Outil de cryptage
GenericName[ga]=Uirlis Chriptithe
GenericName[he]=כלי הצפנה
GenericName[hi]=एनक्रिप्शन औज़ार
GenericName[hu]=Titkosítóeszköz
GenericName[is]=Dulritunartól
GenericName[it]=Strumento di crittografia
GenericName[ja]=暗号化ツール
GenericName[ka]=დაშიფვრის ხელსაწყო
GenericName[kk]=Шифрлау құралы
GenericName[km]=ឧបករណ៍​អ៊ិនគ្រីប
GenericName[lt]=Šifravimo įrankis
GenericName[mk]=Алатка за криптирање
GenericName[nb]=Krypteringsverktøy
GenericName[nds]=Verslötel-Warktüüch
GenericName[ne]=गुप्तीकरण उपकरण
GenericName[nl]=Cryptografisch programma
GenericName[nn]=Krypteringsverktøy
GenericName[pa]=ਇੰਕਰਿਪਸ਼ਨ ਸੰਦ
GenericName[pl]=Narzędzie do szyfrowania
GenericName[pt]=Ferramenta de Cifra
GenericName[pt_BR]=Ferramenta de Criptografia
GenericName[ro]=Utilitar de criptare
GenericName[ru]=Шифрование
GenericName[sk]=Šifrovací nástroj
GenericName[sl]=Šifrirno orodje
GenericName[sr]=Алат за шифровање
GenericName[sr@Latn]=Alat za šifrovanje
GenericName[sv]=Krypteringsverktyg
GenericName[ta]=சங்கேத கருவி
GenericName[tg]=Асбоби Рамзкунонӣ
GenericName[tr]=Şifreleme Aracı
GenericName[uk]=Засіб для шифрування
GenericName[zh_CN]=加密工具
GenericName[zh_TW]=加密工具
Comment=A GnuPG frontend
Comment[ar]=واجهة لـ GnuPG
Comment[bg]=Клиент за GnuPG
Comment[bs]=Alat za GnuPG
Comment[ca]=Un entorn gràfic per GnuPG
Comment[cs]=Rozhraní pro GnuPG
Comment[cy]=Blaen-wyneb GnuPG
Comment[da]=En GnuPG-forende
Comment[de]=Eine Benutzeroberfläche für GnuPG
Comment[el]=Λογισμικό κρυπτογράφησης (GnuPG)
Comment[eo]=Fasado por GnuPG
Comment[es]=Interfaz para GnuPG
Comment[et]=GnuPG kasutajaliides
Comment[eu]=GnuPGren bitarteko bat
Comment[fa]=GnuPGنرم‌افزار نهایی
Comment[fi]=GnuPG-käyttöliittymä
Comment[fr]=Une interface à GnuPG
Comment[ga]=Comhéadan do GnuPG
Comment[he]=מנשק גרפי של GnuPG
Comment[hi]=एक ग्नू-पीजी फ्रन्टएण्ड
Comment[hu]=Grafikus kezelőprogram a GnuPG-hez
Comment[is]=Viðmót á GnuPG
Comment[it]=Interfaccia grafica per GnuPG
Comment[ja]=GnuPG のフロントエンド
Comment[ka]=GnuPG გრაფიკული გარსი
Comment[kk]=GnuPG интерфейсі
Comment[km]=កម្មវិធី​ខាងមុខ GnuPG
Comment[lt]=GnuPG naudotojo sąsaja
Comment[nb]=En GnuPG grenseflate
Comment[nds]=En GnuPG-Böversiet
Comment[ne]=GnuPG फ्रन्टेन्ड
Comment[nl]=Een programma om GnuPG-cryptografie en -ondertekening te gebruiken
Comment[nn]=Ei GnuPG-grenseflate
Comment[pa]=GnuPG ਮੁੱਖੜਾ
Comment[pl]=Interfejs do GnuPG
Comment[pt]=Uma interface para o GnuPG
Comment[pt_BR]=Uma interface para o GnuPG
Comment[ro]=Interfaţă grafică pentru GnuPG
Comment[ru]=Управление ключами GPG
Comment[sk]=Rozhranie pre GnuPG
Comment[sl]=Vmesnik za GnuPG
Comment[sr]=Интерфејс за GnuPG
Comment[sr@Latn]=Interfejs za GnuPG
Comment[sv]=Gränssnitt till GnuPG
Comment[ta]=GnuPG முன் அமைப்பு
Comment[tg]=Пешохири GnuPG
Comment[tr]=Bir GnuPG arayüzü
Comment[uk]=Інтерфейс до GnuPG
Comment[uz]=GnuPG uchun grafik interfeys
Comment[uz@cyrillic]=GnuPG учун график интерфейс
Comment[wa]=Ene eterface po GnuPG
Comment[zh_CN]=GnuPG 前端
Comment[zh_TW]=GnuPG 前端軟體
Terminal=false
Name=KGpg
Name[hi]=के-जीपीजी
Name[nl]=KGPG
Name[sv]=Kgpg
Name[ta]= KGpg 

X-KDE-autostart-after=panel
X-KDE-autostart-condition=kgpgrc:User Interface:AutoStart:false

Categories=Qt;KDE;Utility;X-KDE-Utilities-PIM;
