<!DOCTYPE kpartgui>
<kpartgui name="kgpg" version="0.3.1">
<MenuBar>
  <Menu name="file"><text>&amp;File</text>
    <Action name="file_new_window"/>
    <Action name="file_encrypt"/>
    <Action name="file_decrypt"/>
  </Menu>
  <Menu name="keys"><text>&amp;Keys</text>
    <Action name="keys_manage"/>
  </Menu>

  <Menu name="signature"><text>Si&amp;gnature</text>
    <Action name="sign_generate"/>
    <Action name="sign_verify"/>
    <Action name="sign_check"/>
  </Menu>

  <Menu name="help"><text>&amp;Help</text>
    <Action name="help_tipofday"/>
    <Action name="gpg_man"/>
  </Menu>
  
</MenuBar>

<ToolBar name="mainToolBar" position="top"><text>Main Toolbar</text>
</ToolBar>
<ToolBar name="extraToolBar" position="top"><text>Extra Toolbar</text>
  <Action name="options_configure"/>
  <Action name="keys_manage"/>
</ToolBar>
</kpartgui>
