<!DOCTYPE kpartgui>
<kpartgui name="kgpg" version="31">
<MenuBar>
  <Menu name="file">
    <Action name="file_new_window"/>
    <Action name="file_encrypt"/>
    <Action name="file_decrypt"/>
  </Menu>

  <Menu name="edit" noMerge="1"><text>&amp;Edit</text>
    <Action name="edit_undo" />
    <Action name="edit_redo" />
    <Separator />
    <Action name="edit_cut" />
    <Action name="edit_copy" />
    <Action name="edit_paste" />
      </Menu>

  <Menu name="signature"><text>Si&amp;gnature</text>
    <Action name="sign_generate"/>
    <Action name="sign_verify"/>
    <Action name="sign_check"/>
  </Menu>

</MenuBar>

<ToolBar name="mainToolBar"  noMerge="1" position="top"><text>Main Toolbar</text>
<Action name="file_new"     />
    <Action name="file_open"    />
    <Action name="file_save"    />
    <Action name="edit_undo" />
    <Action name="edit_redo" />
    <Action name="edit_cut" />
    <Action name="edit_copy" />
    <Action name="edit_paste" />
</ToolBar>
</kpartgui>
