# KDE Config File
[Desktop Entry]
Type=Application
Exec=kgpg %U
Icon=kgpg
X-DocPath=kgpg/index.html
MimeType=application/pgp-encrypted;application/pgp-signature;application/pgp-keys;
GenericName=Encryption Tool
Comment=A GnuPG frontend
Terminal=false
Name=KGpg

X-KDE-autostart-after=panel
X-KDE-autostart-condition=kgpgrc:User Interface:AutoStart:false

Categories=Qt;KDE;Utility;X-KDE-Utilities-PIM;
