<!DOCTYPE kpartgui>
<kpartgui name="listkeys" version="31">

<MenuBar>
  <Menu name="managekeys"><text>&amp;Keys</text>
    <Action name="key_info"/>
    <Action name="key_sign"/>
    <Action name="key_edit"/>
    <Action name="key_gener"/>
	<Separator />
	<Action name="key_export"/>
	<Action name="key_import"/>
    </Menu>
	<Menu name="settings"><text>&amp;Settings</text>
<Action name="key_showp" />
<Action name="kgpg_config" />
<Action name="key_bind" />
<Action name="configuretoolbars"/>
	</Menu>
	<Menu name="file">
	<Action name="key_server"/>
	<Action name="key_refresh"/>
	</Menu>
	 <Menu name="help">
    <Action name="help_tipofday"/>
    <Action name="gpg_man"/>
  </Menu>
    </MenuBar>


<ToolBar name="mainToolBar" position="top">
    <Action name="key_info"/>
    <Action name="key_sign"/>
    <Action name="key_edit"/>
    <Separator/>
    <Action name="key_import"/>
    <Action name="key_export"/>
    <Action name="key_server"/>
    <Separator/>
    <Action name="key_showp"/>
</ToolBar>


</kpartgui>
