[Desktop Entry]
Type=Service
MimeType=application/pgp-encrypted;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Actions=decrypt-view;

[Desktop Action decrypt-view]
Name=View file decrypted
Name[el]=Προβολή αποκρυπτογραφημένου αρχείου
Name[es]=Ver archivo descifrado
Name[et]=Vaata faili lahtikrüptitult
Name[gl]=Ver o ficheiro decifrado
Name[km]=មើល​ឯកសារ​ដែល​បានឌិគ្រិប
Name[nds]=Datei opslötelt ankieken
Name[pt]=Ver o ficheiro descodificado
Name[pt_BR]=Exibir o arquivo descriptografado
Name[sv]=Visa filen avkodad
Name[tr]=Dosyayı şifrelemesi açılmış olarak göster
Name[uk]=Перегляньте розшифрований файл
Name[zh_CN]=查看解密文件
Name[zh_TW]=檢視解密後檔案
Icon=kgpg
Exec=kgpg -s %F
