[Desktop Entry]
Type=Service
MimeType=application/pgp-encrypted;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Actions=decrypt-view;

[Desktop Action decrypt-view]
Name=View file decrypted
Icon=kgpg
Exec=kgpg -s %F
