[Desktop Entry]
Type=Service
MimeType=application/pgp-encrypted;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Actions=decrypt-view;

[Desktop Action decrypt-view]
Name=View file decrypted
Name[ca]=Mostra el fitxer desencriptat
Name[da]=Se filen dekrypteret
Name[de]=Datei entschlüsselt anzeigen
Name[el]=Προβολή αποκρυπτογραφημένου αρχείου
Name[es]=Ver archivo descifrado
Name[et]=Vaata faili lahtikrüptitult
Name[eu]=Ikusi deszifratutako fitxategia
Name[fr]=Voir le fichier déchiffré
Name[ga]=Féach ar an gcomhad díchriptithe
Name[gl]=Ver o ficheiro decifrado
Name[it]=Visualizza file decifrato
Name[ja]=復号されたファイルを表示
Name[km]=មើល​ឯកសារ​ដែល​បានឌិគ្រិប
Name[ko]=복호화된 파일 보기
Name[lv]=Apskatīt atšifrētu failu
Name[nb]=Vis fil dekryptert
Name[nds]=Datei opslötelt ankieken
Name[nl]=Bestand ontcijferd tonen
Name[pa]=ਫਾਇਲ ਡਿ-ਕ੍ਰਿਪਟਡ ਵੇਖੋ
Name[pt]=Ver o ficheiro descodificado
Name[pt_BR]=Exibir o arquivo descriptografado
Name[ro]=Vizualizează fișierul decriptat
Name[ru]=Показать расшифрованный файл
Name[sl]=Prikaži dešifrirano datoteko
Name[sr]=Прикажи дешифрован фајл
Name[sr@latin]=Prikaži dešifrovan fajl
Name[sv]=Visa filen avkodad
Name[th]=ดูแฟ้มที่ถูกเข้ารหัส
Name[tr]=Dosyayı şifrelemesi açılmış olarak göster
Name[uk]=Перегляньте розшифрований файл
Name[x-test]=xxView file decryptedxx
Name[zh_CN]=查看解密文件
Name[zh_TW]=檢視解密後檔案
Icon=kgpg
Exec=kgpg -s %F
